---
http_interactions:
- request:
    method: get
    uri: http://dev.socialfred.com:3000/publications/95
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - test_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b9eef0fec5964743290da586681109e"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"95","type":"publication","attributes":{"text":"test2","created_at":"2019-10-29T22:46:35.857+01:00","updated_at":"2019-10-29T23:46:41.645+01:00","status":"published","published_at":"2019-10-29T23:46:35.000+01:00"}}}'
  recorded_at: Wed, 30 Oct 2019 22:41:45 GMT
recorded_with: VCR 5.0.0
