---
http_interactions:
- request:
    method: put
    uri: http://dev.socialfred.com:3000/publications/99
    body:
      encoding: UTF-8
      string: publication%5Btext%5D=another+text
    headers:
      Api-Key:
      - test_api_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4e72e5f78e6efcfde403d723c07ea7f6"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"99","type":"publication","attributes":{"text":"another
        text","created_at":"2019-10-30T23:54:12.147+01:00","updated_at":"2019-10-31T00:01:58.128+01:00","status":"new","published_at":"2045-06-01T12:05:00.000+01:00"}}}'
  recorded_at: Wed, 30 Oct 2019 23:01:58 GMT
recorded_with: VCR 5.0.0
