---
http_interactions:
- request:
    method: delete
    uri: http://dev.socialfred.com:3000/api/social_posts/99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - test_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d348ed5f6b4dd7002d2434ca7b8b3cb0"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"99","type":"social_post","attributes":{"text":"another
        text","created_at":"2019-10-30T23:54:12.147+01:00","updated_at":"2019-10-31T00:03:30.973+01:00","status":"to_be_deleted","published_at":"2045-06-01T12:05:00.000+01:00"}}}'
  recorded_at: Wed, 30 Oct 2019 23:03:30 GMT
recorded_with: VCR 5.0.0
