---
http_interactions:
- request:
    method: get
    uri: http://dev.socialfred.com:3000/api/social_posts?page=1&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - test_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a5604cf74091a7f478a00e007fdd592c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"98","type":"social_post","attributes":{"text":"test1","created_at":"2019-10-30T20:54:14.960+01:00","updated_at":"2019-10-30T20:54:15.011+01:00","status":"new","published_at":"2019-10-30T20:59:14.000+01:00"}},{"id":"95","type":"social_post","attributes":{"text":"test2","created_at":"2019-10-29T22:46:35.857+01:00","updated_at":"2019-10-29T23:46:41.645+01:00","status":"published","published_at":"2019-10-29T23:46:35.000+01:00"}}],"meta":{"total":51},"links":{"first":"http://dev.socialfred.com:3000/api/social_posts?page=1\u0026per_page=2","last":"http://dev.socialfred.com:3000/api/social_posts?page=26\u0026per_page=2","next":"http://dev.socialfred.com:3000/api/social_posts?page=2\u0026per_page=2"}}'
  recorded_at: Wed, 30 Oct 2019 22:19:12 GMT
recorded_with: VCR 5.0.0
